.app.light {

  .page {
    background-color: $light-transparent;
  }

  .btn {
    background-color: $light-accent;
    color: $light-white;
    box-shadow: 0 2px 5px darken($light-accent, 10%);
    &.disabled {
      box-shadow: none;
      background-color: $light-disabled;
      color: lighten($light-disabled, 10%);
    }
  }

  .floating-input {
    input {
      color: $light-font;
    }
    input + label {
      color: lighten($light-font, 5%);
    }
  }

  .button-icon {
    i {
      color: $light-font;
    }
  }

  .header {
    background-color: $light-bg;
    box-shadow: 0 0 10px darken($light-bg, 10%);
    
    .frame-nav {
      h1 {
        color: $light-font;
      }

      .menu-toggle {
        color: $light-font;
      }
    }

    .frame-options .button-icon {
      &:hover {
        background-color: darken($light-bg, 5%);
      }
    }

    .nav {
      background-color: darken($light-bg, 10%);
      color: $light-font;
      > article {
        i {
          color: lighten($light-font, 15%);
        }

        &.disabled {
          color: $light-disabled;
          i {
            color: $light-disabled;
          }
        }
      }

    }
  }

  .home-form {
    .form-inputs {
      article {
        &:not(:last-child) {
          border-bottom: 1px solid $light-border;
        }
      }
    }
  }

  .chat-messages {
    .message-item {
      &:hover {
        background-color: $light-transparent-more;
      }

      .message-info {
        div {
          color: lighten($light-font, 25%);
        }
      }
      .glowing-ball {
        color: $light-secondary;
      }
      .message-author {
        p:first-child {
          color: darken($light-font, 25%);
        }
      }
      .message-text {
        &::after {
          background-color: $light-secondary;
        }
        p {
          color: $light-font;
        }
      }
      &.users {
        .message-info {
          .glowing-ball {
            color: $light-accent;
            i {
              box-shadow: 0 0 16px $light-accent;
            }
          }
        }
        .message-text::after {
          background-color: $light-accent;
        }
      }
    }
  }

  .chat-form {
    border-top: 1px solid $light-border;
    p {
      color: lighten($light-font, 15%);
    }
    input {
      color: $light-font;
    }
    .form-submit {
      color: $light-accent;
    }
  }

  .chat-info {
    border-right: 1px solid $light-border;
    > article {
      p {
        color: $light-secondary;
      }
      h2, h4 {
        color: $light-font;
      }
    }
  }

  .settings-options {
    > section {
      .title {
        div  {
          border-bottom: 1px solid $light-border;
        }
        h2 {
          color: $light-font;
        }
      }
    }

    h4 {
      color: lighten($light-font, 10%);
    }

    .button-icon {
      color: darken($light-font, 5%);
      background-color: lighten($light-secondary, 15%);
      &.selected {
        color: $light-font;
        border-bottom: 2px solid $light-accent;
        background-color: $light-bg;
      }
      i.secondary {
        color: $light-accent;
      }
    }

    .cover-input {
      input {
        background-color: $light-bg;
      }
    }
    .form-submit {
      background-color: $light-accent;
      color: $light-white;
    }
  }
}