@font-face {
  font-family: 'icomoon';
  src:  url('./fonts/icomoon.eot');
  src:  url('./fonts/icomoon.eot') format('embedded-opentype'),
    url('./fonts/icomoon.ttf') format('truetype'),
    url('./fonts/icomoon.woff') format('woff'),
    url('./fonts/icomoon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Poiret+One');

@import "./abstracts/colors.scss";
@import "./abstracts/mixins.scss";
@import "./abstracts/fonts.scss";

@import "./base/reset.scss";
@import "./base/base.scss";
@import "./base/forms.scss";

@import "./components/HomeForm.scss";

@import "./components/ChatForm.scss";
@import "./components/ChatMessages.scss";
@import "./components/ChatInfo.scss";

@import "./components/SettingsOptions.scss";

@import "./containers/Header.scss";
@import "./containers/Chat.scss";
@import "./containers/Home.scss";
@import "./containers/Settings.scss";

@import "./themes/light.scss";
@import "./themes/dark.scss";
