html, body {
	position: relative;
	min-width: 100vw;
	min-height: 100vh;
	overflow: hidden;

	* {
		-webkit-font-smoothing: antialiased;
		text-rendering: optimizeLegibility;
		box-sizing: border-box;
		font-size: inherit;
		*::-webkit-scrollbar { 
			display: none; 
		}
	}

	a {
		text-decoration: none;
	}

	ul,
	li {
		list-style: none;
	}

	#root {
		width: 100vw;
		height: 100vh;
		background-color: transparent;
		@include font-opensans();
		@include transition();

		&:hover {
			.cover-image {
				opacity: 0;
				user-select: none;
				pointer-events: none;
			}
		}

		.cover-image {
			width: 100%;
			height: 100%;
			position: fixed;
			top: 0;
			left: 0;
			z-index: 25;
			@include transition(.3s);
			img {
				width: 100%;
				height: 100%;
				background-size: cover;
				object-fit: cover;
			}
		}
	}

	.app {
		width: 100%;
		height: 100%;
		@include flexbox(flex-start, center, nowrap, column)
	}

	.page {
		width: 100%;
		height:  calc(100% - 70px);
	}

}

