input {
  border: none;
  outline: 0;
  background-color: transparent;
}

.btn {
  cursor: pointer;
  border: none;
  display: inline-block;
  position: relative;
  padding: 10px 20px;
  border-radius: 2px;
  background-color: transparent;
  transition: 0.5s;
  font-size: 20px;
}

.floating-input {
  position: relative;
  margin-top: 25px;
  padding-left: 30px;

  input + label {
    font-size: 14px;
    position: absolute;
    left: 30px;
    bottom: 25px;
    pointer-events:none;
    @include transition(.2s)
  }

  input:valid + label,
  input:focus + label {
    bottom: 45px;
    font-size: 16px;
  }
}

.button-icon {
  -webkit-app-region: no-drag;
  text-align: center;
  position: relative;
  cursor: pointer;
  @include transition(.15s);
  @include flexbox(space-around, center, nowrap, row);
  i {
    &.primary {
      font-size: 18px;
    }
    &.secondary {
      font-size: 14px;
      position: absolute;
      right: 10px;
      top: 5px;
    }
  }
}

.disabled {
  user-select: none;
  pointer-events: none;
}

.hidden {
  display: none;
}