.chat-messages {
  position: relative;

  .message-list {
    overflow: scroll;
    height: 100%;
    width: 100%;
    position: absolute;
  }

  .message-item {
    margin: 10px 15px 15px;

    .message-info {
      @include flexbox(flex-start, center, nowrap, row);

      div {
        font-size: 12px;
      }

      .glowing-ball {
        i  {
          border-radius: 50%;
        }
      }

      .message-author {
        padding: 0 10px;
        p {
          display: inline-block;
        }
        p:first-child {
          margin-right: 5px;
          font-size: 14px;
        }
      }
    }

    .message-text {
      margin-left: 25px;
      padding: 6px 0;
      position: relative;
      white-space: pre-line;
      word-break: break-word;

      &::after {
        display: block;
        position: absolute;
        top: 10%;
        left: -20px;
        content: '';
        width: 2px;
        min-height: 35px;
        height: 100%;
      }

      p {
        font-size: 12px;
      }
    }

  }
}
