.chat-form {
  position: relative;
  height: 70px;

  p {
    font-size: 16px;
    padding: 5px 10px;
  }

  .form-inputs {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    input {
      font-size: 18px;
      width: calc(100% - 85px);
      height: 100%;
      padding: 20px 10px 10px;
    }
  }

  .form-submit {
    cursor: pointer;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 70px;
    height: 70px;
    @include transition(.3s);
    @include flexbox(space-around, center, nowrap, row);
    i {
      font-size: 30px;
    }
    &:hover {
      i {
        transform: scale(1.15);
      }
    }
  }
}
