.chat-info {
  position: relative;
  padding: 15px 10px 20px;
  word-wrap: break-word;
  white-space: pre-line;

  > article {
    p {
      text-transform: lowercase;
      font-variant: small-caps;
      font-size: 14px;
      margin-bottom: 3px;
    }
    h2, h4 {
      font-size: 12px;
    }
  }

  .room-name {
    margin-bottom: 15px;
  }

}