.home-form {

  form {
    @include flexbox(space-between, flex-start, nowrap, column);

    .form-inputs {
      width: 100%;
      display: inline-block;
      @include flexbox(space-between, flex-start, nowrap, column);

      article {
        margin-bottom: 30px;
        padding-bottom: 20px;
        font-size: 16px;
        width: 100%;
      }
    }

    .form-submit {
      position: relative;
      width: 100%;

      article {
        display: flex;
        justify-content: center;

        button {
          height: 50px;
          display: none;
        }
      }
    }
  }
}