.settings-options {
  width: 100%;
  margin-top: 10px;
  @include transition(.2s);
  @include flexbox(space-around, flex-start, nowrap, column);

  > section {
    width: 100%;
    height: 110px;
    margin: 10px auto 15px;
    @include transition(.5s);
    @include flexbox(flex-start, flex-start, nowrap, column);
    .title {
      width: 100%;
      margin-bottom: 15px;
      text-transform: lowercase;
      font-variant: small-caps;
      div {
        width: 75px;
        height: 1px;
        display: inline-block;
      }
      h2 {
        font-size: 14px;
        display: inline-block;
        margin-left: 15px;
      }
    }
  }

  .button-icon {
    font-size: 14px
  }

  h4 {
    font-size: 12px;
  }

  .selection {
    margin: 10px 20px;
    .options {
      margin-top: 15px;
      @include flexbox(flex-start, center, nowrap, row);
      article {
        height: 30px;
        width: 100px;
        .icon-check {
          display: none;
        }
        &.selected {
          .icon-check {
            display: block;
          }
        }
      }
    }
  }

  .cover {
    > section:not(:first-child) {
      margin: 10px 20px;
    }

    .cover-toggle {
      @include flexbox(flex-start, center, nowrap, row);
      margin: 20px 0;
      
      article:last-child {
        margin-left: 15px;
        cursor: pointer;
        i {
          padding: 5px;
          font-size: 18px;
          @include transition(.3s);
        }
      }
    }


    .cover-input {
      form {
        margin-top: 15px;
        width: 120%;
        @include flexbox(flex-start, center, nowrap, row);
      }

      .form-inputs {
        width: 80%;
        .floating-input {
          padding: 0;
          margin-top: 0;
        }
      }

      .form-submit {
        font-size: 14px;
        p, i {
          display: inline-block;
        }
        article {
          padding: 10px 15px;
          cursor: pointer;
          @include flexbox(space-around, center, nowrap, row);
        }
      }

      input {
        width: 100%;
        padding: 10px;
        font-size: 12px;
      }
    }

    .cover-preview {
      height: 80%;
      width: 80%;
      h4 {
        margin-right: 5px; 
      }
      img {
        width: 10rem;
        height: 10rem;
        margin-top: 15px;
        background-size: cover;
        display: block;
        object-fit: cover;
      }
    }
  }

}