.page-chat {
  width: 100%;
  height: 100%;
  @include flexbox(space-between, stretch, nowrap, row);

  .chat-info {
    width: 125px;
    height: 100%;
  }

  .chat-content {
    width: calc(100% - 125px);
    height: 100%;
    @include flexbox(space-between, stretch, nowrap, column);
    .chat-messages {
      width: 100%;
      height: calc(100% - 70px);
    }
  }
}