.header {
  z-index: 20;
  -webkit-user-select: none;
  -webkit-app-region: drag;
  width: 100%;
  height: 70px;
  position: relative;
  @include flexbox(flex-start, center, nowrap, column-reverse);

  .frame-nav {
    z-index: 20;
    width: 100%;
    height: 50px;
    position: relative;
    @include flexbox(space-around, center, nowrap, row);
    h1 {
      font-size: 26px;
      @include font-poiret();
    }

    .frame-options {
      position: absolute;
      top: 0;
      right: 0;
      @include flexbox(flex-start, center, nowrap, row);

      &.hidden {
        display: none;
      }

      .button-icon {
        width: 25px;
        height: 25px;
      }
    }

    .menu-toggle {
      z-index: 15;
      font-size: 12px;
      position: absolute;
      bottom: 0;
      left: 0;
      cursor: pointer;
      -webkit-app-region: no-drag;
      @include transition(.2s);
      p, i {
        display: inline-block;
        margin: 10px;
      }
      p {
        margin-left: 0;
      }
      &:hover {
        i {
          transform: rotate(15deg);
        }
      }
    }
  }

  .nav {
    width: 100%;
    height: 20px;
    opacity: 0;
    @include flexbox(flex-start, center, nowrap, row);
    @include transition(.15s);

    &.open {
      opacity: 1;
    }

    > article {
      margin: 5px 10px;
      height: 100%;
      font-size: 14px;
      p {
        margin-right: 5px;
      }
      i {
        font-size: 12px;
      }
      &:hover {
        i {
          transform: scale(1.15);
        }
      }
    }
  }
}