.page-home {
  width: 100%;
  height: 100%;

  .home-form {
    min-width: 50vmin;
    min-height: 50vmin;
    position: absolute;
    padding: 3rem 0 2rem;
    top: calc(45% - 25vmin);
    left: calc(50% - 25vmin);
  }

}