// Light Theme
$light-white: rgba(255,255,255, 1);
$light-bg: rgba(241,244,250, 1);
$light-font: rgba(65, 66, 86, 1);
$light-secondary: rgba(155, 172, 200, 1);
$light-border: lighten(rgba(85, 86, 106, .8), 35%);
$light-accent: rgba(0, 198, 174, 1);
$light-accent-shadow: rgba(0, 198, 174, .35);
$light-disabled: rgba(150, 154, 160, 1);
$light-transparent: rgba(252, 252, 252, .85);
$light-transparent-more: rgba(252, 252, 252, .65);
$light-transparent-less: rgba(252, 252, 252, .95);

// Light Theme
$dark-white: rgba(255,255,255, 1);
$dark-bg: rgba(23, 25, 46, 1);
$dark-font: rgba(231, 232, 223, 1);
$dark-secondary: rgba(104, 105, 150, 1);
$dark-border: lighten(rgba(85, 86, 106, .8), 35%);
$dark-accent: rgba(255, 226, 88, 1);
$dark-accent-shadow: rgba(255, 226, 88, .35);
$dark-disabled: rgba(150, 154, 160, 1);
$dark-transparent: rgba(22, 22, 22, .75);
$dark-transparent-more: rgba(22, 22, 22, .65);
$dark-transparent-less: rgba(22, 22, 22, .95);

// Black to White
$b1: rgb(17,17,17);
$b2: rgb(34,34,34);
$b3: rgb(51,51,51);
$b4: rgb(102,102,102);
$b5: rgb(151,151,151);
$b6: rgb(177,177,177);
$b7: rgb(202,202,202);
$b8: rgb(219,219,219);
$b9: rgb(236,236,236);
$b10: rgb(247,247,247);
$b11: rgb(250,250,250);

// Background
$bg-steel: rgb(67, 92, 118);
$bg-silver: rgb(155, 172, 200);
$bg-white: rgb(255, 255, 255);
$shadow-bg: rgb(245, 246, 255);

// Font
$font-black: rgb(21, 31, 42);
$font-gray: rgb(150, 154, 160);

// Accent
$orange: rgb(254, 130, 76);
$teal: rgb(34, 182, 209);
$purple: rgb(198, 89, 255);

// Theme Accents
$primary-yellow: rgb(255, 226, 88);
$primary-teal: rgb(0, 198, 174);
$primary-purple: rgb(89, 104, 217);

// Brand Colors
$twitter: rgb(44,170,225);
$facebook: rgb(53,101,162);
$tumblr: rgb(47,154,47);
