@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin flexbox($justify-content, $align-items, $wrap, $direction) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
  flex-wrap: $wrap;
  flex-direction: $direction;
}

@mixin transition($time:.3s) {
	-webkit-transition: all $time ease-in-out;
	-moz-transition: all $time ease-in-out;
	-o-transition: all $time ease-in-out;
	transition: all $time ease-in-out;
}

@mixin round($size:inherit, $radius:100%) {
  border-radius: $radius;
  width: $size;
  height: $size;
}

@mixin font-opensans() {
  font-family: 'Open Sans', 'Open-Sans', sans-serif;
}

@mixin font-poiret() {
  font-family: 'Poiret One', 'Poiret-One', sans-serif;
}
